<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA84fQoXhzVEPjMOUusrWaw2935LhVkDTg</string>
	<key>GCM_SENDER_ID</key>
	<string>393347333182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cccourse.ehrmobile</string>
	<key>PROJECT_ID</key>
	<string>ehr-projectcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>ehr-projectcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393347333182:ios:fa51cc8c40ea993453656f</string>
	<key>DATABASE_URL</key>
	<string>https://ehr-projectcloud-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>